.themify_builder_turn_on {
	display: none !important;
}

body .wrapper-content {
	
	#comments,
	article > header,
	article > footer,
	.entry-title,
	.entry-meta,
	.post-thumbnail,
	.hideme {
		display: none !important;
	}
	
	.grid-width-8 {
		#comments,
		article > header,
		article > footer,
		.entry-title,
		.entry-meta,
		.post-thumbnail {
			display: block !important;
		}
	}
	
	/.CMLS_CCC {

		display: block !important;

		.entry-content {
			margin-top: 0 !important;
		}
		
		// Remove extra space under contest iframe
		iframe[src*="digitalivy.com"] {
			display: inherit;
		}
	}
}