// Remove extra space under contest iframe
iframe[src*="digitalivy.com"] {
	display: inherit;
}

// Remove title, metadata, thumbnails, comments
.wrapper-content .row-1 .column-1 {
	#comments,
	header,
	.entry-title,
	.entry-meta,
	.post-thumbnail,
	.hideme {
		display: none !important;
	}
	.entry-content {
		margin-top: 0 !important;
	}
}
