// Remove extra space under contest iframe
iframe[src*="digitalivy.com"] {
	display: inherit;
}

body .wrapper-content .CMLS_CONTEST_CONTENT {
	#comments,
	article > header,
	article > footer,
	.entry-title,
	.entry-meta,
	.post-thumbnail,
	.hideme {
		display: none !important;
	}
	.entry-content {
		margin-top: 0 !important;
	}
}