@require 'base.styl'

.wrapper-content {
	&,
	.grid-container,
	.column-1,
	.column-1 > div,
	.column-1 article,
	.entry-content,
	.themify_builder_row {
		border: 0 !important;
		margin: 0 !important;
		max-width: 100% !important;
		padding: 0 !important;
		width: 100% !important;
	}
	.column-2 {
		display: none;
	}
}