<table cellspacing="0" cellpadding="0" border="0" align="center" width="550px" bgcolor="#000000">
	<tbody>
		<tr>
			<td align="center" valign="center">
				
				<!-- HEADER GRAPHIC -->
				<a href="{contestURL}" target="_blank">
					<img src="IMAGEURL" border="0" style="display:block">
				</a>

			</td>
		</tr>
		<tr>
			<td bgcolor="#000000" valign="top" color="#FFFFFF" style="font-size: 24px !important; font-family: Lucida Sans, Arial, sans-serif !important;">

				<p style="padding-top: 0; padding-right: 50px; padding-bottom: 10px; padding-left: 50px; text-align: center">

					Thanks for entering, {firstname}!
					<br><br>

					You're on your way to winning a...
				
				</p>

				<table cellspacing="0" cellpadding="10px" border="0" align="center" width="90%" bgcolor="#333333">
					<tbody>
						<tr>
							<td valign="center" align="center" color="#FFFFFF" style="font-size: 95%">
				
								Be sure to
								<a href="{contestURL}" target="_blank" style="color: #123456 !important; font-weight: bold !important;">enter again each day</a>
								to increase your chances of winning!
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<!-- ALBUM PROMOTION -->
				<table cellspacing="0" cellpadding="10px" border="0" width="100%" bgcolor="#000000">
					<tbody>
						<tr>
							<td width="50%" align="right">

								<!-- ALBUM COVER -->
								<a href="URLTOPURCHASE" target="_blank">
									<img src="ALBUMCOVER" width="70%" style="display:block">
								</a>

							</td>
							<td width="50%" valign="center" align="center" color="#FFFFFF" style="font-size: 18px !important;">
								<p>
									<strong style="font-size: 34px">
										ALBUM TITLE
									</strong>
								</p>
								<p>
									<a href="URLTOPURCHASE" target="_blank">
										<img src="http://images.tritondigital.com/Instance_Images/UGC/uploads//2015_4_14/41e99608-4fd5-422b-9d3c-a94d623417aa.png" alt="Get it on iTunes!">
									</a>
								</p>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td bgcolor="#333333" valign="center" align="center" color="#999999" style="font-size: 10px !important; font-family: Lucida Sans, Arial, sans-serif !important; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;">
				You are receiving this email because you participated in "{contestname}" on {sitetitle}.
			</td>
		</tr>
	</tbody>
</table>