<!--

This goes in the Header Code in a contest's Expert Options.

-->
<link href="dist/contest/base.css" rel="stylesheet" type="text/css">
<style>
	/* Contest-specific styles */

	/* Content container background */
	body #container-contest {
		background: #123456;
	}

	/* Content header.  Useful for webfonts! */
	.pagetitle {
	}

</style>
<script src="dist/contest/base.js" type="text/javascript"></script>
<script type="text/javascript">
	// Install Google Analytics
	installGoogleAnalytics('UA-########-##');
</script>