<!--

This goes in the Header Code in a contest's Expert Options.

-->
<link href="build/contest.css" rel="stylesheet" type="text/css">
<!--
	Include if you build cm-layout
	<link href="build/contest_layout.css" rel="stylesheet" type="text/css">
-->
<style>
	/* Contest-specific styles */

	/* Content container background */
	body #container-contest {
		background: #123456;
	}

	/* Content header.  Useful for webfonts! */
	.pagetitle {
	}

</style>
<script
	src="build/contest.js"
	id="CMLS_CONTEST"

	data-google-analytics-id="UA-########-##"
></script>