<p style="margin-bottom: 0.75em">
	Contest description...
</p>

<div class="embed-container">

	<iframe src="https://www.youtube-nocookie.com/embed/YOUTUBEID?rel=0&amp;controls=0&amp;showinfo=0&amp;modestbranding=1&amp;playsinline=1&amp;autohide=1" frameborder="0" allowfullscreen=""></iframe>

</div>

<div class="cm-container">
	<div class="cm-row">
		<div class="cm-left" style="text-align: center">
		
			<a href="http://www.bandsintown.com/BANDNAME" class="bit-widget-initializer" data-artist="BAND NAME" data-display-limit="23" data-share-links="false" data-notify-me="false" data-force-narrow-layout="true" data-text-color="#eeeeee" data-link-color="#d374cf">BAND NAME Tour Dates</a>
		
		</div>
		<div class="cm-right">

			<div class="cm-albumcover">

				<a href="PURCHASEURL" target="_blank">
					<img src="ALBUMCOVER">
				</a>

				<div class="cm-albumname">
					ALBUM NAME
				</div>
				
				<a href="PURCHASEURL" target="_blank" class="cm-buybutton">
					<img src="//images.tritondigital.com/Instance_Images/UGC/uploads//2015_4_14/41e99608-4fd5-422b-9d3c-a94d623417aa.png" alt="Get it on iTunes!">
				</a>
				
			</div>

			<div class="cm-twitter-desktop">
				<a class="twitter-timeline" data-screen-name="ARTISTTWITTER" data-theme="dark" data-dnt="true" href="https://twitter.com/ARTISTTWITTER" data-widget-id="555779576849502208" data-chrome="" height="501px" width="99%" data-link-color="#d374cf">Tweets by @ARTISTTWITTER</a>
			</div>
			<div class="cm-twitter-mobile">
				<a class="twitter-timeline" data-screen-name="ARTISTTWITTER" data-theme="dark" data-dnt="true" href="https://twitter.com/ARTISTTWITTER" data-widget-id="555779576849502208" data-chrome="noborders" width="99%" data-link-color="#d374cf" data-tweet-limit="1" >Tweets by @ARTISTTWITTER</a>
			</div>

			<div class="cm-facebook">
				<div class="fb-page" data-href="https://www.facebook.com/ARTISTFACEBOOK" data-width="350" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"></div>
			</div>

		</div>
	</div>
</div>