<script
	src="CHANGEME/dist/cms/base.js"
	id="CMLS_CONTEST"

	data-google-analytics-id="UA-########-##"
></script>

<link href="CHANGEME/dist/cms/t2w.css" rel="stylesheet" type="text/css">

<!-- Page fonts -->
<link href="https://fonts.googleapis.com/css?family=Oswald:400,700,300" rel="stylesheet" type="text/css">

<!-- Page styles -->
<style>
	.t2w-main {
		background: #000;
	}

	.t2w-container {
		background: #fff;
	}

	.t2w-details {
		color: #000;
		font-family: 'Oswald', sans-serif !important;
	}

	/* BandsInTown header */
	.t2w-bit-header {
		background: #999;
		color: #fff;
	}

	/* Album order button */
	.t2w-orderbutton {
		background: #888 !important;
		color: #fff !important;
	}
		.t2w-orderbutton:hover {
			background: #aaa !important;
		}

	/* Album name */
	.t2w-album-name {
		color: #666 !important;
	}
		.t2w-album-name strong {
			color: #333 !important;
		}

	.t2w-album-availability {
		color: #333 !important;
	}
</style>

<!-- Contest content -->
<div class="t2w-main">

	<div class="t2w-container">

		<div class="t2w-header">
			<img src="" width="100%" alt="CHANGEME">
		</div>

		<div class="t2w-video">
			<div class="embed-container">

				<iframe src="https://www.youtube-nocookie.com/embed/CHANGEME?rel=0&amp;controls=1&amp;showinfo=0&amp;modestbranding=1&amp;playsinline=1&amp;autohide=1" frameborder="0" allowfullscreen="" class="fitvidsignore"></iframe>

			</div>
		</div>

		<div class="t2w-body">

			<div class="t2w-row">

				<div class="t2w-col">

					<div class="t2w-details">
						Listen to this station all week for your chance to win a trip to...

						<a href="" target="_blank" class="t2w-rules">Official Rules</a>
					</div>

					<div class="t2w-bit-header">Can't wait? See them LIVE near you!</div>

					<!-- BANDS IN TOWN WIDGET -->
					<a href="http://bandsintown.com/CHANGEME" class="bit-widget-initializer" data-artist="CHANGEME" data-text-color="#CHANGEME" data-link-color="#CHANGEME" data-separator-color="#CHANGEME" data-share-links="false" data-display-limit="CHANGEME">CHANGEME Tour Dates</a>

				</div>

				<div class="t2w-col">

					<div class="t2w-album">
						<a href="" target="_blank"><img src="" alt="" class="t2w-albumcover"></a>

						<div class="t2w-album-purchase">
							<a href="" target="_blank" class="t2w-orderbutton">Pre-Order Now!</a>
							<div class="t2w-album-name">New Album: <strong>CHANGEME</strong></div>
							<div class="t2w-album-availability">Available April 1!</div>
						</div>
					</div>

					<div class="t2w-twitter-desktop">
						<a class="twitter-timeline"
							data-screen-name="CHANGEME"
							href="https://twitter.com/CHANGEME"
							data-theme="light"
							data-link-color="#CHANGEME"
							data-dnt="true" data-widget-id="555779576849502208" data-chrome="" height="501px" width="99.9%">
							Tweets by @CHANGEME
						</a>
					</div>
					<div class="t2w-twitter-mobile">
						<a class="twitter-timeline"
							data-screen-name="CHANGEME"
							href="https://twitter.com/CHANGEME"
							data-theme="light"
							data-link-color="#CHANGEME"
							data-dnt="true" data-widget-id="555779576849502208" data-chrome="" height="501px" width="99.9%" data-tweet-limit="1">
							Tweets by @CHANGEME
						</a>
					</div>

					<div 
						data-href="https://www.facebook.com/CHANGEME"
						class="fb-page" data-width="390" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"></div>

				</div>

			</div>
			<!-- END t2w-row -->

		</div>
		<!-- END t2w-body -->

	</div>
	<!-- END t2w-container -->

</div>

<!-- Contest-specific scripting
<script type="text/javascript">
(function($, window, undefined){

	/*
	// To change an element's text after a certain date:
	$('.t2w-album-availability').expireReplace('2016-03-25', 'Available Now!');
	*/

}(jQuery, window));
</script>
-->