<script
	src="CHANGEME/build/cms.js"
	id="CMLS_CONTEST"

	data-google-analytics-id="UA-########-##"
></script>

<!--
	Include the appropriate stylesheet:
	cms.css - For normal content posts with right column
	cms_fullwidth.css - For taking the full width content area
-->
<!--
<link href="CHANGEME/build/cms.css" rel="stylesheet" type="text/css">
-->

<!--
	Using the isoFrame? Include it here
	<link href="https://cdn.jsdelivr.net/gh/cumulus-digital/isoframe@0398060/dist/outer.css" rel="stylesheet" type="text/css">
	<script src="https://cdn.jsdelivr.net/gh/cumulus-digital/isoframe@0398060/dist/outer.js" async></script>
-->

<!-- ADD YOUR CONTENT BELOW -->
<style>
	/* For full-width contests, add your page background here! */
	.cmls-entry-wrapper {
		background: black;
	}
</style>