.CMLS_CCC_CONTAINER {
	width: 100%;
	background-size: cover;
	background-position: top center;
	overflow: hidden;
}
.CMLS_CCC_IFRAME {
	display: block;
	border: 0;
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	box-shadow: 0 0 30px rgba(0,0,0,0.15);
}